.info-block
{
    margin: 62px calc((100% - 980px) * 0.5) 16px;
}

.info-section-heading
{
    margin-bottom: 23px;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
}

.info-section-header
{
    margin: 0;
    position: relative;
    top: 2px;
    left: 14px;
    font-size: 42px;
    font-weight: bold;
}

.info-section-header
{
    margin: 0;
}

.p2
{
    margin-top: 25px;
}

.info-block-description
{
    font-size: 21px;
    font-weight: bold;
    line-height: 1.2em;
    color: #ffffff;
}

#interning-reason-section
{
    margin-top: 92.3px;
}

img[alt="question"]
{
    width: 41px;
}

img[alt="pencil"]
{
    width: 37.2px;
    height: 47.43px;
    transform: rotate(-30deg);
}

img[alt="laptop"]
{
    width: 46px;
    height: 32px;
}

img[alt="flag"]
{
    width: 36px;
    height: 40px;
}

img[alt="person"]
{
    width: 41px;
    height: 39px;
}

.info-block-description a
{
    font-family: "DIN Next Light", sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
}

#info-section #line
{
    margin: 78px auto 56px;
    border-width: 4;
    width: 261px;
    height: 4px;
    background-color: #ffffff;
}

#mentors-container
{
    display: flex;
    flex-wrap: wrap;
    flex: 0 50%;
    justify-content: space-between;
}
