#navigator
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 80px;
    z-index: 2;
    width: 32px;
    height: 197px;
    position: fixed;
    left: 92%;
    top: 19%;
}

circle
{
    fill: transparent;
    stroke: rgba(162, 236, 243, 1);
    stroke-width: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

circle:hover
{
    fill: rgba(162, 236, 243, 1);
}
