.announcement
{
    margin: 70px 0;
    font-family: "Avenir LT Light", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

span
{
    text-decoration: underline;
}
