*
{
    margin: 0;
    padding: 0;
    font-family: "Neue Helvetica Light", sans-serif;
}

body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#illustration
{
    width: 318px;
}

#error-code
{
    margin-top: 30px;
    font-size: 80px;
    line-height: 35px;
    fill: rgb(255, 255, 255);
}

.cls-1
{
    fill: #3ba6cc
}

.cls-2
{
    fill: #3eb8eb
}

.cls-3
{
    fill: #c3d4d8
}

.cls-4
{
    fill: #e1ebef
}

.cls-5
{
    fill: #37b7ea
}

.cls-6
{
    fill: #a2b7bc
}

.cls-7
{
    fill: #a9a9a9
}

.cls-8
{
    fill: #9c9b9b
}

.cls-9
{
    fill: #f197be
}

.cls-10
{
    fill: #565656
}

.cls-11
{
    fill: #ffffff
}

.cls-12
{
    fill: #e9eff2
}

#error-title
{
    margin-top: 62px;
    color: rgb(62, 184, 234);
    font-size: 66px;
    line-height: 90px;
    letter-spacing: 1px;
}

#error-description
{
    margin-top: 19px;
    color: rgb(24, 74, 86);
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 39px;
}

#return-button
{
    margin-top: 37px;
    padding: 0 20px;
    height: 56px;
    letter-spacing: 0.8px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    border-radius: 28px;
    border: 2px solid rgb(62, 184, 234);
    background-color: rgb(255, 255, 255);
    color: rgb(62, 184, 234);
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s;
}

#return-button:hover
{
    background-color: rgb(62, 184, 234);
    color: rgb(255, 255, 255);
}
