#connect-component
{
    margin: 36px 0 0 0;
    padding-bottom: 0;
}

#connect-content
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#connect-header-bar
{
    border-width: 4;
    width: 200px;
    height: 5px;
    background-color: #ffffff;
}

#connect-title
{
    margin: 20px 0px 12px 0;
    font-size: 24px;
    color: #ffffff;
}

#social-links
{
    display: flex;
    position: relative;
    right: 4px;
}

#social-links img
{
    padding-right: 7px;
    height: 42px;
}
