@font-face
{
    font-family: "DIN Next Light";
    src: url("Assets/fonts/dinLight.woff") format("woff");
}

@font-face
{
    font-family: "Avenir LT Light";
    src: url("Assets/fonts/avenirLt35Light.woff") format("woff");
}

@font-face
{
    font-family: "Avenir LT Heavy";
    src: url("Assets/fonts/avenirLt85Heavy.woff") format("woff");
}

@font-face
{
    font-family: "Neue Helvetica Light";
    src: url("Assets/fonts/neueHelvetica45Light.woff") format("woff");
}

@font-face
{
    font-family: "Helvetica Roman";
    src: url("Assets/fonts/helveticaRoman.woff") format("woff");
}
