*
{
    font-family: "DIN Next Light";
    font-weight: normal;
}

.mission-id
{
    margin: 0;
    padding: 0;
    font-size: 260px;
    color: #ccccca;
    letter-spacing: -0.02em;
    line-height: 1em;
    position: relative;
    right: 18px;
}

#line
{
    border-width: 1;
    margin: 0 0 41px 0;
    height: 1px;
    background-color: rgba(66, 66, 66, 1);
}

#id-and-line
{
    width: 240px;
    text-align: left;
}

#mission-title
{
    margin: 0 0 41px 0;
    font-size: 36px;
    color: #0099FF;
}

#mission-description
{
    font-size: 18px;
    color: #646666;
    line-height: 1.3em;
}
