#internship-section
{
    background-color: #efefef;
    color: #646666;
    padding-bottom: 25px;
}

#title
{
    padding-top: 100px;
    margin: 0 0 0 calc((100% - 72vw) * 0.5);
    font-size: 88px;
    font-family: "DIN Next Light", sans-serif;
    font-weight: normal;
    color: #646666;
    height: 1em;
}

#internship-descriptions
{
    margin: 0 calc((100% - 72vw) * 0.5);
}

.internship-h1
{
    font-weight: bold;
    font-size: 24px;
    height: 1em;
}

.internship-p
{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3em;
}

#internship-contact-message
{
    color: #0099FF;
    font-size: 24px;
    line-height: 1.4em;
    width: 26vw;
    padding-right: 3rem;
}
