#about-section
{
    background-color: #0099FF;
}

#about-title
{
    padding: 105px 0 0 0;
    margin: 0 0 0 calc((100% - 72vw) * 0.5);
    font-size: 88px;
    font-family: "DIN Next Light", sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    height: 202px;
}

#descriptions
{
    padding-bottom: 25px;
}
