#quick-links-component
{
    margin: 36px 22px 0 0;
}

#quick-links-content
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#quick-links-header-bar
{
    border-width: 4;
    width: 200px;
    height: 5px;
    background-color: #ffffff;
}

#quick-links-title
{
    margin: 20px 0px 12px 0;
    font-size: 24px;
    color: #ffffff;
}

#quick-links
{
    margin: 17px 0 26px 0;
    display: flex;
    flex-direction: column;
}

.quick-link
{
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    line-height: 36px;
    color: #ffffff;
}

#quick-links .quick-link:hover, .active
{
    color: #a2ecf3;
}
