#internship-contact-section
{
    margin: 0 calc((100% - 72vw) * 0.5);
    display: flex;
    align-items: center;
}

#internship-contact-form
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 2.5;
}

.form
{
    font-size: 14px;
    border: 3px solid rgba(100, 102, 102, 1);
    width: 100%;
}

#email
{
    margin: 23px 0 8px 0;
    height: 23px;
    padding: 3px 0 3px 12px;
    color: #646666;
}

#email:hover
{
    width: calc(100% + 2px);
}

#message
{
    height: 126px;
    resize: none;
    padding: 10.5px 0 0 12px;
    color: #646666;
}

#message:hover
{
    border: 2px solid rgb(0, 210, 212);
    background-color: rgb(204, 204, 202);
    width: calc(100% + 2px);
}

#submit
{
    margin: 0;
    border: none;
    border-radius: initial;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.4em;
    color: #004647;
    transition: color 0.4s ease 0s;
}

#submit:hover
{
    color: #00C8DC;
}
